/* Topics home
---------------- */
div.page_list_container
{
	display:block;
}



div.pages_list {
display:flex;
flex-wrap: wrap;

}

div.page_tile {
    position:		relative;
    box-sizing:     border-box;
    width:			200px;
    margin:	        0;
    padding:        10px;
    
}

div.page_tile > div {
    position:		relative;
    box-sizing:     border-box;
    border:         1px solid #afafaf;
    height:         180px;
    box-shadow:     0px 2px 7px 0px #00000045;
}

div.page_tile > div > a {
    display:        block;
    margin:	        0;
    padding:        0;
}

div.page_tile div.image {
    position:		absolute;
    top:            0;
    right:          0;
    bottom:         0;
    left:           0;
    background:     rgba(255,255,255,0.9);
    background-size:        132%;
    background-position:    center center;
    background-repeat:      no-repeat;
}

div.page_tile div.overlay {
    position:		absolute;
    height:         auto;
    min-height:     30px;
    right:          0;
    left:           0;
    background:     rgba(255,255,255,0.8);
}

div.page_tile div.title {
    font-size:      14px;
    color:          #003a73;
    padding:        4px 0 4px 8px;
}

div.page_tile div.progression {
	
	display:block;
	padding:0px 10px 15px 15px;
}


div.circles-tiled
{
	display:flex;
	flex-wrap: wrap;
}

div.page-list-circle-item
{
	text-align:center;
	padding:20px;
}


@media only screen and ( min-width: 1200px ) and ( max-width: 1299px ) {
	div.page_tile div.image {
        background-size:        142%;
    }
}
@media only screen and ( min-width: 1100px ) and ( max-width: 1199px ) {
	div.page_tile div.image {
        background-size:        155%;
    }
    div.page_tile div.title {
        padding-bottom:5px;
    }
}
@media only screen and ( min-width: 995px ) and ( max-width: 1099px ) {
	div.page_tile div.image {
        background-size:        190%;
    }
    div.page_tile div.title {
        padding-bottom:5px;
    }
}
@media only screen and ( min-width: 960px ) and ( max-width: 994px ) {
	div.page_tile div.image {
        background-size:        230%;
    }
    div.page_tile div.title {
        padding-bottom:5px;
    }
}

@media only screen and ( min-width: 768px ) and ( max-width: 959px ) {
	div.page_tile {
        width:			50%;
    }
    div.page_tile div.image {
        background-size:        160%;
    }
    div.page_tile div.title {
        padding-bottom:5px;
    }    
}
@media only screen and ( min-width: 611px ) and ( max-width: 767px ) {
	div.page_tile {
        width:			100%;
        float:			none;
    }
    div.page_tile div.image {
        background-size:        160%;
    }
    div.page_tile div.title {
        padding-bottom:5px;
    }
}
@media only screen and ( min-width: 481px ) and ( max-width: 610px ) {
    div.page_tile {
        width:			100%;
        float:			none;
    }
    div.page_tile div.image {
        background-size:        160%;
    }
    div.page_tile div.title {
        padding-bottom:5px;
    }
}
@media only screen and ( max-width: 480px ) {
    div.page_tile {
        width:			100%;
        float:			none;
    }
    div.page_tile div.image {
        background-size:        auto 100%;
        background-position:    center bottom;
    }
    div.page_tile div.title {
        padding-bottom:5px;
    }
}

